body {
    margin: 0px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;
    width: 100%;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    position: fixed;
    top: 0;
}


nav ul li {
    background-color: red;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%
}

nav ul li:hover {
    background-color: green;
    color: white;
}

nav ul li a {
    display: flex;
    align-items: center;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}