* {
  box-sizing: border-box;
}

/*----------------############# Class Selectors ----------------#############*/
.shadow-box {
  box-shadow: 5px 5px 6px rgb(34, 31, 31);
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  background: rgba(161, 153, 160, .8);
  width: 65%;
}

.shadow-box ul > li {
  list-style: inside;
}
/*----------------############# ID Selectors ----------------#############*/

#whole-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.crimes-container-div {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 75px;
  margin-top: 40px;
  border-bottom: 3px solid #B5BBBA;
  padding-bottom: 40px;
}

.crimes-container-div div > ul {
  margin: 20px;
}

.crimes-container-div ul > li {
  font-style: bold;
  padding: 10px;
}

.locations-container-div {
  /* border-bottom: 3px solid #B5BBBA; */
  padding-bottom: 40px;
  width: 40%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations-container-div div{
  margin: 40px;
  overflow: scroll;
}

.locations-container-div div > li {
  padding-bottom: 20px;
  list-style: none;
}

.locations-container-div img {
  border: 7px solid black;
  margin-bottom: 30px;
}

.locations-container-div div > li > ul > li {
  list-style: inside;   
}

.witness-victim-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
  margin-top: 40px;
  border-top: 3px solid #B5BBBA;

}

.witness-victim-container div > ul {
  margin: 20px
}

.witness-victim-container ul > li {
  padding: 10px;
}

@media (min-width: 1027px){
  .locations-container-div {
    width: 80%;
  }
}

@media (max-width: 1025px){
  .crimes-container-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 75px;
    margin-top: 40px;
    border-bottom: 3px solid #B5BBBA;
    padding-bottom: 40px;
  }

  .locations-container-div {
    /* border-bottom: 3px solid #B5BBBA; */
    padding-bottom: 40px;
    width: 80%;
    padding-bottom: 20px;
    overflow: scroll;
  }

  .witness-victim-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 40px;
    border-top: 3px solid #B5BBBA;
  
}
